<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/detail.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div id="username" class="logo">
                    LOGO
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/main">Home</a></li>
                        <li><a href="#" id="create">Create Item</a></li>
                        <li><a href="#" id="logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <input type="hidden" id="product_id" value="<%= item_id %>" />
        <input type="hidden" id="CheckPermission"/>
        <main class="container">
 
            <!-- Left Column / Headphones Image -->
            <div class="left-column">
            </div>
           
           
            <!-- Right Column -->
            <div class="right-column">
           
              <!-- Product Description -->
              <div id="product-description">
              </div>
              
              <div class="detail">

              </div>
              <br><br><br>
              <div class="premission">
                <table border="0" id="change">
                    <tr>
                      <td><button class="btn btn-warning" data-toggle="modal" data-target="#main_item">Edit</button></td>
                      <td><button type="button" id="delete_item" class="btn btn-danger">Delete</button></td>
                    </tr>
                  </table>
          
                
              </div>

              
              <div class="modal fade" id="main_item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Item Informtaion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="Productdescription" placeholder="Product Description">
                        <br>
                        <input type="number" class="form-control" id="Price" placeholder="Price">
                        <br>
                        <input type="text" class="form-control" id="Location" placeholder="Location">
                        <br>
                        <input type="number" class="form-control" id="Telephone" placeholder="Telephone">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="edit">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>



          </main>

          
    </div>


    <div class = "container">
      <table border="0" width="100%">
        <tr >
          <td width="100%">
            <textarea type="text" class="form-control" id="comment"></textarea>
          </td>
          <td width="100%">
            <button type="button" class="btn btn-primary" id="add_comment">Submit</button>
          </td>

        </tr>

      </table>


    </div>
    <div class = "container">
      <div id="all_comment">










        
      </div>

    </div>

</body>
<script src="../static/js/detail.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>