html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: "Helvetica Neue",sans-serif;
	font-weight: lighter;
}

header {
	width: 100%;
	height: 50px;

}

.content {
	width: 94%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.logo {
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgb(0, 0, 0);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 16px 40px;;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

@media(max-width: 786px) {

	.logo {
		  position: fixed;
		  top: 0;
		  margin-top: 16px;
	}

	nav ul {
		  max-height: 0px;
		  background: #000;
	}

	nav.black ul {
		  background: #000;
	}

	.showing {
		  max-height: 34em;
	}

	nav ul li {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 24px;
		  text-align: center;
	}

	.menu-icon {
		  display: block;
	}

}

#data{
  position: relative;
  top: 50%;
  margin-top: 50px;
  height: 200px;
  border: 4px dashed #000000;
}
#data p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 120px;
  color: #000000;
  font-family: Arial;
}
#data #ProductImage{
  width: 100%;
  height: 10%;
  position: fixed;
  outline: none;
  opacity: 0;
  
}
